@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
	/* Applies a gradient background to the text by clipping the gradient to the text shape
   and making the text fill color transparent to reveal the background */
	background: -webkit-linear-gradient(#4338ca, #818cf8);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
